<div class="constitution">
<section class="section">
<h2>ARTICLE I - Name</h2>
<p>The name of this organization shall be "The Clermont County Township Association".</p>
</section>
<section class="section">
<h2>ARTICLE II - Membership</h2>
<p>All township Trustees and Clerks in Clermont County shall be entitled to active membership in this Association. Former Trustees and Clerks and any interested persons shall be entitled to associate membership. Active members only, in good standing, are eligible to vote or hold office or committee appointments in this organization. The only exceptions to this would be the offices of Secretary and Treasurer which may be combined and held by active associate members. Existing associate members currently serving in office or committee appointment are grandfathered and may be re-elected or re-appointed as long as they wish to serve and the body wishes to re-appoint or re-elect them.</p>
</section>
<section class="section">
<h2>ARTICLE III - Principles</h2>
<p>Local self-government is a vital principle of free institutions. This principle is recognized in the case of municipalities by giving Ohio cities the right to frame and amend their own charters. The people living in rural communities are likewise entitled to control their own local affairs. This can only be done by electing officials who are directly responsible to the voters, and by entrusting to them the control of township affairs. Township officials are neighborhood officials, and hence are more directly responsible to the voters than any other officials possibly can be.</p>
</section>
<section class="section">
<h2>ARTICLE IV - Purposes</h2>
<p>The purposes of this Association shall be:</p>
<ol>
<li>To protect the township against any attempt to abolish it as a governmental unit. To resist any effort to further centralization of governmental powers by depriving the township of any rights, duties, or privileges, which it now possesses.</li>
<li>To secure, through friendly intercourse, a better acquaintance among township officials.</li>
<li>To promote a better knowledge of the rights and duties of township officials, and by comparison of experiences and interchange of ideas to arrive at the best way to discharge those duties.</li>
<li>To secure from the General Assembly, legislation which will enable township government to function more effectively.</li>
<li>To secure for the tens of thousands of miles of township roads in Ohio, an equitable share of gasoline tax revenue, such revenue to be expended on township roads by township officials.</li>
</ol>
</section>
<section class="section">
<h2>ARTICLE V - Election of Officers</h2>
<p>Election of officers shall be held the third Thursday in November. The President shall appoint a nominating committee at least thirty (30) days prior to election. At the November meeting they shall present name(s) for each office to be filled. Any qualified voter can present nominations at said meeting from the floor. The election shall be determined by a simple majority vote, by ballot, of members present. If more than one person is nominated for an office the vote shall be by paper ballot of members present. The officers to be elected are: President, Vice-President, Secretary, Treasurer, and Executive Committee-person. The nominating committee shall present their list of all nominations to the Secretary of the Association in sufficient time, that he shall be able to notify the chairman of each township at least two weeks prior to the election, of the determinations of the Nominating Committee.</p>
</section>
<section class="section">
<h2>ARTICLE VI - Duties of Officers</h2>
<ol>
<li>The officers, aided by the committees, shall have general charge of the affairs of the Association, and each of them shall discharge the duties usually incident to their office.</li>
<li>The President shall preside at all regular and called meetings of this Association and shall be a member of all committees. The Chairman of each committee shall be elected by the committee members at the organizational meeting of said committee.</li>
<li>The Vice-President shall perform the duties of the President during his absence or inability to perform the same, or in case of vacancy in the office of President.</li>
<li>The Secretary shall have charge of all publicity work of the organization. It shall be their duty to publish from time to time any news items, letters, or communications from individual Trustees or Clerks or from CCTA Members, on matters of Township interest.</li>
<li>The Treasurer shall pay out funds coming into his or her hands only on order of the members present at the regular meetings. The Treasurer shall provide an itemized listing of the payments and receipts since the last meeting, collect membership dues, make notifications to the members of meeting locations and times, liaise with the Columbus OTA office on dues and membership in the OTA and other duties as assigned.</li>
</ol>
</section>
<section class="section">
<h2>ARTICLE VII - Committees</h2>
<p>To assist the officers in carrying out the aims and purposes of the Association, the President shall appoint committees from time to time. The membership shall fill any vacancies on any committees. There shall be an audit committee each year to report to the membership at the first meeting in January.</p>
</section>
<section class="section">
<h2>ARTICLE VIII - Meetings</h2>
<p>The organizational meeting of this Association shall be in a place designated by vote of the Association Members on the third Thursday of January unless otherwise agreed upon by a majority vote of the members at a regular meeting. The President may call special meetings at such times as deemed advisable. Business, including election of officers, can only be conducted by a quorum of townships represented by one (1) elected official from four different townships.</p>
</section>
<section class="section">
<h2>ARTICLE IX - Order of Business</h2>
<ol>
<li>President calling Association to order</li>
<li>Roll call of officers</li>
<li>Roll call of active members by Secretary</li>
<li>Roll call of honorary members by Secretary</li>
<li>Approval of minutes of previous meetings</li>
<li>Short report and address by President and Vice-President</li>
<li>Report of Treasurer</li>
<li>Reading of communications</li>
<li>General discussion and reports of Special Committees</li>
<li>Address by persons selected by President</li>
</ol>
<p><i>*** The order of business may be changed at the discretion of the President</i></p>
</section>
<section class="section">
<h2>ARTICLE X - Dues</h2>
<p>The annual membership dues in the Clermont County Township Association for Active Members shall be $5.00. For Associate Members, the dues will be $6.00 per member per year. The amount of dues may be changed at any annual meeting, by a vote of the majority of members present [Currently in addition, the state dues are $35.00 for active members ($33.00 for membership and $2.00 for magazine) and associates are $4.00 ($2.00 for membership and $2.00 to the state association for the magazine). The total dues will be $40.00 for active members and $10 for associate members. Dues are due to the Treasurer by January 1 of each year.</p>
</section>
<section class="section">
<h2>ARTICLE XI - Amendments</h2>
<p>This constitution may be amended at any regular meeting by a majority vote of the members present. Any proposed amendments must be filed with the Secretary at least thirty (30) days before a regular meeting. The Secretary shall forward a copy of the proposed amendment to each of the active members for their consideration two weeks before the meeting.</p>
</section>
</div>
